<div class="container-md overview">
  <div class="row">
    <div class="col-12">
      <h4 class="overview__title">Select your breed</h4>
    </div>

    @for (breed of breedList$ | async; track breed) {
    <div class="col-12 col-sm-6 col-lg-3">
      <button
        tabindex="0"
        type="button"
        class="btn btn-secondary overview__breed-button"
        (click)="breedSelected(breed)"
        (keydown.enter)="breedSelected(breed)"
      >
        {{ breed }}
      </button>
    </div>
    }
  </div>
</div>
